<section class="section" id="mon_job">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s"> Mon Job</h1>
    <div class="row row fadeIn" data-wow-delay="0.4s">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui">
                <div class="mdb-lightbox">
                <!--boucle pour afficher image de "images"
                url image in views (images)-->

                    {% for img in images %}
                    <figure class="col-md-4">
                        <img src="{{ img.image.url }}" alt="{{ img.alt}}"
                        style="
                        min-height: 300px;
                        max-height:300px;
                        min-width: 500px;
                        max-width: 500px;">
                    </figure>
                    {% endfor %}


                </div>
            </div>

        </div>

    </div>


</section>